@import "../sizeConstants";
@import "./setupConstants";


.factionEditorContainer{
  height: $entityEditorHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.factionEditorNav{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .navBarItem:not(:first-child){
    margin-left: 10px;
  }

  .navBarItemText{
    font-size: $smallTextFontSize;
  }
}

.factionEditorStepContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;

  height: 0;
  flex: 1;
}

.selectedFactionEditorNav .navBarItemText{
  text-decoration: underline;
}

.factionEditorDetailsTextInput.MuiFormControl-root{
  width: $entityTextInputMainWidth;
  margin-bottom: $entityTextInputMainSpacing;
}
