@import '../colors';
@import '../sizeConstants';

.winPriorityHeader, .winPrioritySubtext{
  color: $dark_text_color;
  text-align: center;
  padding-bottom: 15px;
}

.winPriorityHeader{
  font-size: $largeTextFontSize;
}

.winPrioritySubtext{
  font-size: $smallTextFontSize;
}

.winPriorityDraggableList{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

* {
  .winPriorityChild{
    text-align: center;
    font-size: $normTextFontSize;
    border-top: 1px solid $grey2;
    padding: 5px 15px;
  }

  .winPriorityChild:first-child {
    border-top: 0;
  }
}
