@import '../colors';

@import './lobbyConstants';
@import './lobbyChat';
@import './lobbyDetails';
@import './lobbyEditor';
@import './playersOverview';
@import './lobbySetupHiddens';

.lobbyContainer{
  flex-direction: column;
  background-color: $white;
  //background-color: $whiteBright;
  overflow-y: scroll;
}

.lobbyContainer.setupContainer{
  padding: 0;
}

.lobbyContent{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;
}

.lobbyDetailsPlayers{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}

.lobbyTabletWidth{
  display: none;
}

.lobbyDesktopWidth{
  display: none;
}

$lobbyColumnSectionSpacing: $width_spacing;

@media (min-width: $cellTabletMinWidth) {
  .lobbyContainer{
    overflow-y: initial;
  }

  .lobbyTabletWidth{
    display: initial;
  }

  .lobbyDetailsPlayers{
    flex-direction: column;
    align-items: initial;
    margin-right: $width_spacing;
    max-width: $maxPlayerWidth;
  }
}

@media (min-width: $tabletDesktopMinWidth) {
  .lobbyDesktopWidth{
    display: flex;
  }

  .lobbySetupHiddens{
    width: initial;
    min-width: 250px;
    margin-left: $width_spacing;
  }
}
