@import '../sizeConstants';
@import '../shared';

#game_info_pane{
  display: flex;
  flex-direction: column;
  height: 100vh - $chat_ticker_height - $nav_button_height;

  .titledListItems{
    margin-bottom: 2vh;
  }

  .entityDetailsContainer {
    height: $overview_role_card_height;
  }
}

.gameEntitiesContainer{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;
}

.graveyardContainer{
  flex-grow: 1;
  border-left: $over_view_border_thickness solid $over_view_border_color;
  width: 50%;
}

@media (min-device-width : 600px) and (orientation: landscape){
  #game_info_pane{
    height: 100%;
  }
}
