@import '../colors';
@import '../sizeConstants';


#vote_recap_pane{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $norm_text_color;
  padding: 1vh $width_spacing;
  height: 100%;
  overflow-y: auto;

  background-color: $setup_area;
}

.voteMainHeader{
  text-align: center;
  font-size: 1.8rem;
}

.voteMainSubtitle{
  text-align: center;
  font-size: 1.2rem;
}

.votePopupOpenIcon{
  color: $themeMain;
  cursor: pointer;
}

.votePopout{
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  margin-top: 0.75vh;

  background-color: $red;
  border-radius: 10px;
  box-shadow: 5px 5px 8px $black1;
}

.votePopoutClose{
  color: $themeMain;
  cursor: pointer;
}

.votePopoutTopRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $normTextFontSize;
  margin-bottom: 1vh;
}

.votePopoutBullet{
  font-size: $smallTextFontSize;
}

.votePopoutOrElse{
  font-size: $largeTextFontSize;
  margin-top: 2vh;
  text-align: center;
}

.voteCountSortContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: start;
  margin: 2vh 0 1vh;
}

.voteCountSorter{
  color: $iconColor;
  font-size: 1.8rem;
  padding-right: $width_spacing;
  cursor: pointer;
}

.voteCountSorter:hover{
  color: $themeMain;
  font-size: 1.85rem;
}

.selectedVoteSorter{
  color: $themeMain;
}

.voteListContainers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.voteListContainer{
  width: 48%;
  padding: 1vh 0;
  margin-bottom: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  background: $voteBallotBackground;
}

.voteListHeaderContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 0.2vh;
}

.voteListHeaderTitle{
  font-size: 1.2rem;
}

.voteListActionContainer{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.voteListCount{
  background-color: $voteTallyBackground;
  font-size: $smallTextFontSize;
  color: $dark_text_color;
  padding: 0 15%;
  border-radius: 20%;
}

.voteVotersList{
  padding: 0.5vh 0;
  margin: 0.5vh 0;
  width: 100%;
}

.voterContainer{
  font-size: $normTextFontSize;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25vh 0;
}

.voterText{
  font-size: $smallTextFontSize;
}

.voteCancelPendingText{
  text-decoration: line-through;
}

.voteNoVoters{
  font-size: $smallTextFontSize;
  margin: 0.5vh 0;
  font-style: italic;
}

.votersSeparator{
  border: 0;
  width: 92%;
  border-top: 0.3vh solid $themeMain;
}

.voteButtonSeparator{
  border-top: 0.1vh solid $themeMain;
}

.voteAddContainer{
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.voteAddText{
  font-size: 1rem;
}

.voteAddText:hover{
  font-weight: 700;
  color: $green;
}

.voteIcon{
  color: $voteTallyBackground;
  font-size: $smallTextFontSize;
}

.voteCheckableIcon{
  color: $green;
}

.votePendingIcon{
  margin-left: 0.25vw;
}

.voteCancelIcon{
  font-weight: 700;
}

.voteCancellable{
  cursor: pointer;
}

.voteCancellable:hover{
  .voterText{
    text-decoration: line-through;
    color: red;
    font-style: italic;
  }
}

Button.voteTrialButton{
  background-color: yellow;
  color: $dark_text_color;
}

Button.voteTrialButton:hover{
  background-color: #E0E91F;
}
