@import '../sizeConstants';


.labelAdornmentContainer{
  display: flex;
  flex-direction: column;
}

.labelAdornmentLabel{
  font-size: $labelHeaderFontSize;
  color: $grey2;
  height: 16px; // copied from google input height
}
