@import '../colors';


.labeledCheckbox{
  color: $norm_text_color;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labeledModifierText{
  padding-left: 2%;
}

.labeledInput[type="checkbox"]{
  width: 3vw;
  margin: 0 1vw;
  cursor: pointer;
}

.labeledInput[type="number"]{
   width: 5vw;
 }
