@import '../sizeConstants';


.toggleContainer{
  display: flex;
  flex-direction: row;
  border: 1px solid $black_text_color;
  border-radius: 5px;
  font-size: $normTextFontSize;

  .toggle{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px 0;
  }

  .selectedToggle{
    background-color: $black1;
    color: $norm_text_color;
    font-weight: 700;
  }
}

.enabledToggleContainer{
  cursor: pointer;
}
