.codeGeneratorSection{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.codeTextArea{
  flex-grow: 3;
  margin: 5vh 5vw;
  font-size: 1rem;
  padding: 0.5vh 1vw;
}

.codeTextButton{
  flex-grow: 1;
}

@media (min-device-width : 600px) and (orientation: landscape){
  .codeGeneratorSection{
    right: 0;
    width: 50vw;
  }
}
