.rankingsContainer{
  position: fixed;
  left: 50vw;
  overflow-x: auto;
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.rankingChildContainer{
  flex: 0 0 auto;
}

button.rankingButton{
  margin: 1vh 3vw;
  padding: 1vh 0;
}


@media (min-device-width : 600px) and (orientation: landscape) {
  .rankingsContainer{
    left: 35vw;
    width: 65vw;
  }

  button.rankingButton {
    padding: 1vh 2vw;
  }
}
