@import '../colors';
@import '../sizeConstants';


.gameCreatorPositionContainer{
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameCreatorLayoutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60vw;
  max-width: 300px;
  background-color: $white;

  font-size: $normTextFontSize;
  padding: 20px;
}

.gameCreatorLayoutHeader{
  font-weight: bold;
  margin-bottom: 20px;
}

.gameCreatorItem{
  width: 100%;
  margin-bottom: 20px;
}

.gameCreatePlayerCountContainer{
  display: flex;
  flex-direction: row;
  align-items: center;

  span{
    margin: 0 15px;
  }
}

.gameCreatePlayerCount{
  width: 30px;
}

@media (max-width: 759px) {
  .gameCreatorItem{
    margin-bottom: 8px;
  }

  Button.gameCreateSubmit{
    margin-top: 12px;
  }
}
