@import '../colors';
@import '../sizeConstants';


.loginContainer{
  align-items: center;
  justify-content: center;
}

.loginInputsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background-color: $white;
  padding: 20px;

  hr{
    margin: 15px 0;
    width: 100%;
  }
}

$inputSpacing: 15px;

.MuiFormControl-root.loginInput{
  width: 250px;
  padding-bottom: $inputSpacing;
}

.loginErrorText{
  padding-bottom: $inputSpacing;
  color: $red;
  font-size: $smallTextFontSize;
}

.loginButton{
  font-size: $largeTextFontSize;
  width: 100%;
}

.signUpButton{
  width: 199px;
}
