$overview_role_card_height: 25vh; // the height of the mobile role/faction details card on the bottom of the setup pane
$nav_button_height : 10vh;
$nav_height: 8vh;
$page_height: 100vh - 8vh;
$chat_ticker_height: 8vh;
$chat_ticker_expander_width: 16vw;

// tablet
$roles_pane_width: 24%;
$setup_padding : 2%;
$invite_box_height: 10vh; //includes padding between this and roles box
$setup_padding_top: 3vh;
$roles_padding_top: 2vh;
$invite_box_area : $invite_box_height + $setup_padding_top + $roles_padding_top;

$scrollable_setting_pane_width: 100% - $roles_pane_width - (3 * $setup_padding);
$tablet_setup_panel_LR_margin: 2vw;

// font sizes
$normTextFontSize: 1rem;
$smallTextFontSize: 0.87rem;
$labelHeaderFontSize: 0.7rem;
$largeTextFontSize: 1.5rem;

$width_spacing: 15px;
$fullPageContainerHeightSpacing: 2vh;
$roundedContainerRadius: 6px;
$defaultBorderRadius: 5px;
